<div id="app">
    <div class="logo_area">
        <img src="/assets/レコンシェルジュロゴカラー.png" alt="" srcset="">
    </div>
    <%= form_for(:session, url: login_path) do |f| %>
        <div class="page">
            <concierge-c height="95px" icon="/assets/レコ美_アイコン_全体説明.png">
                <p>こんにちは！レコ美です。<br>こちらでログインをお願いします。</p>
            </concierge-c>
            <br>
            <div class="form_area" style="margin-top: 20px">
                <div class="box">
                    <p>メールアドレス</p>
                    <%= f.text_field :mail, "class" => "text", "placeholder" => "xxxxx@xxxxx.com" %>
                </div>
            </div>
            <div class="form_area" style="margin-top: 10px">
                <div class="box">
                    <p>パスワード</p>
                    <%= f.password_field :password, "class" => "text", "placeholder" => "****************" %>
                </div>
            </div>
            <div class="form_buttons">
                <%= f.submit "ログイン", class: "button" %>
            </div>
        </div>
    <% end %>
</div>

