<div id="app">
  <header-c>
   <header-top-C>
   <p>あいうえお</p>
   </header-top-C>
   <header-buttom-c v-on:toggle_zero="toggle = true" v-on:toggle_one="toggle = false" v-bind:toggle="toggle"></header-buttom-c>
  </header-c>
  <main-page-c :toggle="toggle"></main-page-c>
  <user-setting-c></user-setting-c>
</div>

<!--
<% if logged_in? %>
  <p></p>
  <%= current_user.nickname %>
<% end %>
-->