<div id="app">
  <header-c>
   <header-top-C>
   <p>あいうえお</p>
   </header-top-C>
   <header-buttom-c v-on:toggle_zero="toggle = true" v-on:toggle_one="toggle = false" v-bind:toggle="toggle"></header-buttom-c>
  </header-c>
  <main-page-c :toggle="toggle"></main-page-c>
</div>



<script>

function test() {
    var request = new XMLHttpRequest();
    const appID = "1052617503048427154"

    const req = "https://app.rakuten.co.jp/services/api/IchibaGenre/Search/20140222?applicationId=" + appID + "&genreId=0"
 
    request.open('GET', req, true);
    request.responseType = 'json';
 
    request.onload = function () {
      var data = this.response;
      console.log(data);
    };
 
    request.send();
}
</script>