<div id="app">
  <header-c>
    <header-buttom-c v-on:toggle="toggle = !toggle" v-bind:toggle="toggle"></header-buttom-c>
  </header-c>
  <button onclick="test()">aaaaaa</button>
  <concierge-c>
    <p>はじめまして！これはテストです<br>いい感じにテキストが表示<br>できていますでしょうか？</p>
  </concierge-c>
  <concierge-c>
    <p>あ、できてるくさいですね！<br>ならオッケーです！</p>
  </concierge-c>
  <concierge-c>
    <p>お金ください！！</p>
    <h2>50000000円!!!</h2>
  </concierge-c>
  <checkbutton-c></checkbutton-c>
</div>



<script>

function test() {
    var request = new XMLHttpRequest();
    const appID = "1052617503048427154"

    const req = "https://app.rakuten.co.jp/services/api/IchibaGenre/Search/20140222?applicationId=" + appID + "&genreId=0"
 
    request.open('GET', req, true);
    request.responseType = 'json';
 
    request.onload = function () {
      var data = this.response;
      console.log(data);
    };
 
    request.send();
}
</script>