<!DOCTYPE html>
<html>
    <head>
    <title></title>
    </head>
 <body>
   <div class="introduce">
            <div class="title">
                <img src="/assets/レコンシェルジュロゴカラー.png" alt="">
            </div>       
            <div class="content">
                <div class="register">
                    <div class="new">
                      <a href="https://www.youtube.com/" class="new"> 新規会員登録</a>
                    </div>
                </div>
                <div class="logon">
                       <div class="log">
                       <a href="https://www.youtube.com/" class="log">ログイン</a> 
                        </div>
                </div>
                <div class="forget">
                    <a href="https://www.youtube.com/" class="forget">ログイン情報を忘れた場合</a>
                </div>
                <div class="coment">
                   <p>レコンシェルジュへようこそ！<br>
                    レコ美が案内します。</p>
                    </div>
                <div class="recomi">
                    <img src="/assets/レコ美脚まで.png" alt="">
                </div>  
            </div>
    </div>        
</body>
</html>